    # ==========================================
# KONFIGURASI SUPABASE (DAPAT DARI DASHBOARD SUPABASE)
# ==========================================

# URL Project Supabase (Project Settings -> API -> Project URL)
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co

# Supabase Anon Public Key (Project Settings -> API -> Project API keys -> anon / public)
# Aman digunakan di browser (client-side)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...

# Supabase Service Role Key (Project Settings -> API -> Project API keys -> service_role / secret)
# RAHASIA! HANYA DI SERVER (JANGAN gunakan prefix NEXT_PUBLIC_)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOi...
